
<mat-sidenav-container fullscreen>

    <mat-sidenav class="_sidenav" mode="side" #sidenav opened position="start">
      <mat-card class="top_wrap">
        <ul>
          <li>
          <span class="active">
               Baeh Logistics <mat-icon class="bb" fontSet="fas" fontIcon="fa-sort-up"></mat-icon>
          </span>
          </li>
          <li>
          <span>
            Administrator <mat-icon class="bb1" fontSet="fas" fontIcon="fa-sort-down"></mat-icon>
          </span>
          </li>
        </ul>
      </mat-card>
      <div class="_wrap">
        <mat-list>
          <mat-list-item>
            <a href="/">
              <i class="far fa-chart-bar _m-r"></i>
              Activate
            </a>
          </mat-list-item>
          <mat-list-item>
            <a routerLink="/overview-page" (click)="link_fn()" [class.hovered_a]="state">
              <i class="far fa-chart-bar _m-r"></i>
              Overview
            </a>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="_wrap">
        <h5>Your Business</h5>
        <mat-list>
          <mat-list-item>
            <a href="/">
              <i class="far fa-chart-bar _m-r"></i>
              Transactions
            </a>
          </mat-list-item>
          <mat-list-item>
            <a routerLink="/">
              <i class="far fa-chart-bar _m-r"></i>
             Settlement
            </a>
          </mat-list-item>
        </mat-list>
      </div>

      <div class="_wrap">
        <h5>Receive Payments</h5>
        <mat-list>
          <mat-list-item>
            <a href="/">
              <i class="far fa-chart-bar _m-r"></i>
              Payment Settings
            </a>
          </mat-list-item>
          <mat-list-item>
            <a routerLink="/">
              <i class="far fa-chart-bar _m-r"></i>
             Create Payment
            </a>
          </mat-list-item>
          <mat-list-item>
            <a routerLink="/">
              <i class="far fa-chart-bar _m-r"></i>
              Payment Links
            </a>
          </mat-list-item>
          <mat-list-item>
            <a routerLink="/bulk-payment" (click)="link_fn()" [class.hovered_a]="state">
              <i class="far fa-chart-bar _m-r"></i>
              Bulk Payments
            </a>
          </mat-list-item>
          <mat-list-item>
            <a routerLink="/">
              <i class="far fa-chart-bar _m-r"></i>
              My Devices
            </a>
          </mat-list-item>
        </mat-list>
      </div>

      <div class="_wrap">
        <h5>Developers</h5>
        <mat-list>
          <mat-list-item>
            <a href="/">
              <i class="far fa-chart-bar _m-r"></i>
              Monitoring
            </a>
          </mat-list-item>
          <mat-list-item>
            <a routerLink="/">
              <i class="far fa-chart-bar _m-r"></i>
              API Keys
            </a>
          </mat-list-item>
          <mat-list-item>
            <a routerLink="/">
              <i class="far fa-chart-bar _m-r"></i>
              Events
            </a>
          </mat-list-item>
          <mat-list-item>
            <a routerLink="/">
              <i class="far fa-chart-bar _m-r"></i>
              Logs
            </a>
          </mat-list-item>
        </mat-list>
      </div>
      <br>
      <div class="_wrap">
        <mat-list>
          <mat-list-item>
            <a href="/">
              <i class="far fa-chart-bar _m-r"></i>
              Settings
            </a>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-sidenav>


  <mat-sidenav-content class="_drawer-container">
    <mat-toolbar >
      <span class="space"></span>
      <!--        <span flex></span>-->
      <span class="fill"></span>
      <span>SandBox</span>
      <span>Documentation</span>
      <span class="_wrap_icon">
          <mat-icon fontSet="far" fontIcon="fa-question-circle"></mat-icon>
          <mat-icon fontSet="far" fontIcon="fa-bell"></mat-icon>
            <mat-icon fontSet="far" fontIcon="fa-user"></mat-icon>
        </span>
    </mat-toolbar>
<!--    <div class="main-content">-->
<!--      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>-->
<!--    </div>-->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
